@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@400;500&display=swap');
body {
    font: 16px/1.4 'Roboto', sans-serif;
    background: #3F72AF;
    min-height: 100vh; //минимальная высота окна 
    padding: 1rem;
    box-sizing: border-box;//высота без крова
    display: flex;
    align-items: center;
    justify-content: center;
}
