.article {
    background: white;
    min-width:600px; //ширина коробки с задачами
    border-radius: 20px; //изгибы
    padding: 20px 55px;//отступы сверзу и по бокам
    

&Title {
    font-size: 40px;
    margin-bottom: 0.3em;
    text-align: center;
}
&Text{
    text-align: center;
}
}
h2{
    color: #3f72af ;
    text-align: center;
    font:2em/2.0'Roboto', sans-serif;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 24px;
}

.column {
  background: #f5f7fb;
  padding: 16px;
  border-radius: 10px;
  min-height: 200px;
}
.column:hover {
  background: #eaf0ff;
  box-shadow: 0 4px 12px rgba(63, 114, 175, 0.25);
}
.task {
  background: white;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.sortButton {
  padding: 8px 14px;

  font-size: 14px;
  margin-bottom: 10px;
  background-color: #f5f7fa;
  color: #3f72af;

  border: 1px solid #dbe2ef;
  border-radius: 8px;

  cursor: pointer;
  transition: all 0.2s ease;
}

.sortButton:hover {
  background-color: #e7eef9;
}
h5{
    color: #3f72af ;
    text-align: left;
    font:2em/2.0'Roboto', sans-serif;
}
.TrashSection {
margin-top: 2rem;
  padding: 1rem;
  background-color: #f9f9f9; /* светлый фон */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.deletedTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  background-color: #f5f7fb;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s, transform 0.2s;
  &:hover {
      opacity: 0.7;
    }
}

// .restoreButton {
//   background: #3f72af;
//   color: #fff;
//   width: 100px;
//   border-radius: 6px;
//   border: 1px solid #3f72af;
//   cursor: pointer;
//   font-size: 12px;
//   transition: opacity 0.3s;
//   padding: 6px 12px;
// }